@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700');
@import '_variables.scss';

html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    color: $font;
    font-family: $font-stack;
}
h1 {
    height: 0px;
    overflow: hidden;
    margin: 0;
    width: 0px;
}
/************************   HEADER   ************************/
.header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $header-background;
    background-image: url(../img/texture.png);
    padding: 15px 30px 15px 30px;
    img {
        width: 100%;
    }
}
button {
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    color: $header-background;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 15px;
    &:hover,
    &:focus{
        background-color: $active-red;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
        color: white;
        .green-white img {
            right: 25px;
        }
    }
    .green-white {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        overflow: hidden;
        img {
            width: 50px;
            position: relative;
        }
    }
}
.clock {
    color: white;
    width: 139px;
    font-size: 1.5em;
    font-weight: 600;
}
/************************   MAIN   ************************/
main {
    padding: 30px 15px 30px 15px;
    text-align: center;
}
.add_pizza {
    margin: 0 auto;
    color: #fff;
    background-color: $active-red;
    text-transform: uppercase;
    .fa {
        margin-right: 10px;
    }
}
.add_pizza:hover,
.add_pizza:focus{
    color: $header-background;
    background-color: #fff;
}
.pizzas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
}
/************************   PIZZA   ************************/
.pizza {
    max-width: 200px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
    border-radius: 2px;
    margin: 15px;
    background-color: $card-backgraund;
    position: relative;
    cursor: pointer;
    img {
        max-width: 100%;
        margin: 1em 0 2em 0;
    }
}
.pizza:hover,
.pizza:focus{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.pizza-info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .price {
        display: block;
    }
    .left-info {
        text-align: left;
        line-height: 1.5
    }
    .right-info {
        text-align: right;
        line-height: 1.5;
    }
}
/************************   FOOTER   ************************/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 30px;
    background: $footer-background;
    background-image: url(../img/texture.png);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    address a {
        color: #fff;
        font-size: 1.2em;
        font-style: normal;
    }
    address a:hover,
    address a:focus {
        color: $active-red;
    }
    small {
        color: #fff;
        font-weight: 0.8em;
    }
    address .tel {
        margin-left: 20px;
        font-weight: bold;
        text-decoration: none;
    }
    .map:hover,
    .map:focus{
            color: $header-background;        
    }
    address .org {
        font-weight: bold;        
        text-decoration: none;
    }
}
/************************   MEDIA   ************************/
@media all and (max-width: 560px) {
    .header-top {
        flex-direction: column-reverse;
    }
    .clock {
        text-align: center;
    }
    .pizzas {
        margin-bottom: 20px;
    }
    .footer {
        padding: 1.7em 10px;
        position: relative;
    }
    address {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .tel {
            position: absolute;
            left: 35%;
            bottom: 10%;
            
        }
    }
}
