$header-background: #3f8257;
$active-red: #dc4130;
$footer-background: #858A87;
$card-backgraund: rgba(63, 130, 87, 0.15);
//font
$font: #383838;
$font-stack: 'Nunito', sans-serif;
$light-green: #79CE97;
