@import './reset.css';
@import './cat.css';

/*************************************************GENERAL**/
@import url('https://fonts.googleapis.com/css?family=Geo:400,400i');
* {
    font-family: 'Geo', sans-serif;
}
body {
    -webkit-font-smoothing: none; //background-image: url(../img/backgraund/background.jpg);
    color: #e6e6e6;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    background-color: #3e5f8e;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e6e6e6;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e6e6e6;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #e6e6e6;
}

.pac-container:after {
    display: none;
}
.error{
    position: absolute;
    font-size: 4em;
    top: -65px;
    left: -224px;
    color: black;
    font-family: 'Geo', sans-serif;
}

/*************************************************FOOTER-BACKGROUND**/

footer {
    position: absolute;
    top: 0;
    #box {
        background-image: url(../src/img/backgraund/mini-bgd.png);
        background-repeat: repeat-x;
        background-size: contain;
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    #mountains {
        bottom: -10px;
    }
    #clouds {
        top: 38%;
//        z-index: 4;
        animation: lug 6s infinite;
    }
    #moon {
        right: -200px
    }
    img {
        position: absolute;
        width: calc(100% + 100px);
        height: auto;
        right: -50px;
    }
}

#rainbaw {
    position: absolute;
    z-index: 3;
    top: 36%;
    left: 33%;
    width: 39%;
}

@keyframes lug {
  0% {
    left: 0px;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0px;
  }
}

/*************************************************BUTTONS**/

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.favourite {
    content: '';
    background-image: url(../src/img/icons/etc/star-empty.svg);
    background-size: cover;
    width: 64px;
    height: 64px;
    order: 3;
}

.favourite:hover,
[data-favourite="true"] {
    background-image: url(../src/img/icons/etc/star.svg);
}

.btn-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 2em;
    right: 0px;
    pointer-events: auto;
    .f,
    .c {
        font-size: 3em;
        color: #e6e6e6;
        font-weight: bold;
    }
    .f:hover,
    .c:hover {
        color: black;
    }
}

$burger--thickness: 7px;
.favour-input {
    $width: 40px;
    color: #e6e6e6;
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0px;
    cursor: pointer;
    border-bottom: $burger--thickness solid currentColor;
    width: $width;
    transition: border-bottom 0.5s ease-in-out;
    -webkit-transition: border-bottom 0.5s ease-in-out;
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    &:before {
        content: "";
        display: block;
        border-bottom: $burger--thickness solid currentColor;
        width: 100%;
        margin-bottom: 10px;
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    &:after {
        content: "";
        display: block;
        border-bottom: $burger--thickness solid currentColor;
        width: 100%;
        margin-bottom: 10px;
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
}

.favour-check {
    display: none;
}

.favour-check:checked ~ .favour-input {
    border-bottom: $burger--thickness solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    -webkit-transition: border-bottom 0.2s ease-in-out;
    &:before {
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    &:after {
        transform: rotate(405deg) translateY(-9px) translateX(-10px);
        -webkit-transform: rotate(405deg) translateY(-9px) translateX(-10px);
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
}

$navigation__transition: max-height 0.5s ease-in-out;
.navigation {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transition: $navigation__transition;
}

.change::after {
    content: url(../src/img/icons/etc/star.png);
    position: absolute;
    left: 17px;
    top: -12px;
    z-index: 2;
    animation: pulse 2s 1;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.favour-check:checked ~ .navigation {
    max-height: 500px;
    transition: $navigation__transition;
}

ul {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

li {
    list-style: none;
    font-size: 2em;
    padding: 5px 0;
    a {
        text-decoration: none;
        color: #e6e6e6;
        font-family: 'Geo', sans-serif;
        font-size: 1.5em;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

/*************************************************HEADER**/

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(62, 96, 143, 0.6);
    padding: 40px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    .favour-list {
        position: fixed;
        top: 50px;
        z-index: 5;
        pointer-events: auto;
    }
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    pointer-events: auto;
    .reset {
        position: relative;
        right: 8.8%;
        height: 42px;
        font-size: 1.5em;
        color: #e6e6e6;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    #user-input {
        flex-basis: 55%;
        margin-left: 18%;
        border: none;
        line-height: 2;
        padding-left: 15px;
        padding-right: 35px;
        background-color: rgba(47, 72, 107, 0.42);
        color: #e6e6e6;
        font-size: 1.5em;
        width: 100%;
    }
}

/*************************************************MAIN**/

.weather-body {
    position: relative;
    .one-day {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 1em;
        text-align: center;
        .city {
            flex-basis: 100%;
            font-size: 8em;
            margin: 0;
            margin-top: 0.1em;
            text-align: center;
            line-height: 1.5;
        }
        .centre {
            flex-basis: 100%;
            text-align: center;
            img {
                vertical-align: middle;
                width: 160px;
                margin-left: 3em;
            }
            .temp,
            .cf {
                vertical-align: middle;
                font-size: 10em;
            }
            sup {
                font-size: 3.5em;
                top: -21px;
                position: relative;
            }
        }
        .discriptions {
            display: flex;
            flex-wrap: nowrap;
            font-size: 3em;
            width: 100%;
            margin-top: 1em;
            margin-bottom: 2em;
            .humid,
            .desc {
                margin-left: auto;
                position: relative;
                z-index: 1;
            }
            .d-time {
                margin-right: auto;
            }
            //            .humid::before {
            //                content: url(../img/icons/etc/humidity.svg);
            //                position: absolute;
            //                z-index: -1;
            //                width: 100px;
            //                height: auto;
            //            }
        }
    }
    .another-days {
        display: flex;
        justify-content: space-between;
    }
}

/*************************************************5 DAYS**/

.a-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    .icon {
        width: 120px;
        margin: 0.5em 0;
    }
    sup {
        font-size: 0.5em;
        position: relative;
        top: -15px;
    }
}

/*************************************************MEDIA**/

@media all and (max-width:750px) {
    .wrapper {
        padding: 20px;
        .favour-list {
            top: 32px;
        }
    }
    .another-days {
        flex-direction: column;
        .a-day {
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 0;
            font-size: 2em;
            sup {
                top: -11px;
            }
            .icon {
                margin: 0;
                width: 50px;
            }
        }
    }
    li a {
        font-size: 0.8em;
    }
    .btn-group {
        position: relative;
        flex-direction: row;
        margin-left: auto;
        top: 0;
        .f,
        .c {
            font-size: 1.9em;
        }
    }
    .favour-input,
    .favour-input:before,
    .favour-input:after {
        border-bottom: 3px solid currentColor;
    }
    .favour-input {
        width: 30px;
    }
    .favour-input:before,
    .favour-input:after {
        margin-bottom: 8px;
    }
    .favour-check:checked ~ .favour-input:after {
        -webkit-transform: rotate(405deg) translateY(-5px) translateX(-7px);
        -transform: rotate(405deg) translateY(-5px) translateX(-7px);
    }
    .favour-check:checked ~ .favour-input:before {
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);

    }
    .change::after {
        left: 3px;
    }
    .weather-body .one-day {
        .city,
        .centre .temp,
        .centre .cf {
            font-size: 4em;
        }
        .city {
            margin-top: -0.2em;
        }
        .discriptions {
            font-size: 2em;
            flex-wrap: wrap;
            margin-bottom: 1em;
            .d-time,
            .humid {
                order: 1;
            }
            .desc {
                flex-basis: 100%;
                order: 2;
                margin-top: 10px;
            }
        }
        .centre img {
            width: 100px;
        }
        .centre sup {
            font-size: 1.5em;
            top: -11px;
        }
    }

    .favourite {
        width: 35px;
        padding: 5px;
        height: 35px;
    }
    .top {
        top: 7px;
        #user-input {
            margin-left: 14%;
            line-height: 1.5;
            flex-basis: 55%;
            font-size: 1.2em;
        }
        .reset {
            font-size: 1.2em;
        }
    }

}
