$bg-color: #634ca0;
$fg-color: darken($bg-color,7%);

header,
main {
    width: 980px;
    margin: auto;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
    .container {
        perspective: 700px;
        margin: 0.1em;
        .card {
            transition: transform 0.6s;
            transform-style: preserve-3d;
            position: relative;
            cursor: pointer;
            width: 200px;
            height: 200px;

          figure {
            width: 200px;
            height: 200px;
              margin: 0;
            position: absolute;
            backface-visibility: hidden; //https://css-tricks.com/almanac/properties/b/backface-visibility/
          }
        }
    }

.back {
    //background-color: black;
    transform: rotateY(180deg);
}
.front {
    //background-color: pink;
}
canvas {
    position: absolute;
    z-index: 0;
}

button {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    top: 45%;
    font-weight: bold;
    font-size: 18px;
    padding: 0.7em 1em;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $bg-color;
    color: white;
    &:hover {
      background: darken($fg-color,2.5%);
      box-shadow: 0px 1px 1px darken($fg-color,25%);
    }
}
h1 {
    text-align: center;
    color: #644ca0;
    font-size: 3em;
    text-transform: capitalize;
}